<h2>Editer le formateur n° {{formateur!.id}} :</h2>
<form id="addForm" (ngSubmit)="editFormateur(f)" #f="ngForm">
    <div class="mb-3">
      <label for="nom" class="form-label">nom</label>
      <input type="text" class="form-control" id="nom" name="nom" #nom="ngModel" ngModel  [(ngModel)]="formateur!.nom" required />  
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">prenom</label>
      <input type="text" class="form-control" id="prenom" name="prenom" #prenom="ngModel" ngModel [(ngModel)]="formateur!.prenom" required/>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input type="text" class="form-control" id="email" name="email" #email="ngModel" ngModel [(ngModel)]="formateur!.email" required/>
    </div>
    <div class="mb-3">
        <label for="numCarteId" class="form-label">numCarteId</label>
        <input type="text" class="form-control" id="numCarteId" name="numCarteId" #numCarteId="ngModel" ngModel [(ngModel)]="formateur!.cin" required/>
      </div>
    <div class="mb-3">
        <label for="numtel" class="form-label">numtel</label>
        <input type="text" class="form-control" id="numtel" name="numtel" #numtel="ngModel" ngModel [(ngModel)]="formateur!.telephone" required/>
    </div>
    <div class="mb-3">
        <label for="cv" class="form-label">cv</label>
        <input type="text" class="form-control" id="cv" name="cv" #cv="ngModel" ngModel [(ngModel)]="formateur!.cv" required/>
      </div>
    <div class="mb-3">
        <label for="photo" class="form-label">photo</label>
        <input type="text" class="form-control" id="photo" name="cv" #photo="ngModel" ngModel [(ngModel)]="formateur!.photo" required/>
    </div>
      
    <button 
        type="submit" 
        id="btnValidAdd" 
        class="btn btn-primary mb-3"
        [disabled]="f.invalid">
            Valider
        </button>
        
  </form>

